extends layout

block content
  h1= title
  p Welcome to #{title}, This is a demo repo to demonstrate nodeJs and Pug view

  button(type="button" class="btn btn-outline-info" onclick='doBump()') Press Me

  br
  br
  div#bump(class="p-3 mb-2 bg-warning text-dark border border-dark d-inline-flex") Bump the count.

  script. 
    var count = 0
    var bump = 1

    function doBump() {
      count += bump
      bump++
      document.getElementById('bump').innerText = `Count ${count} with bump ${bump}`
    }

  br
  br
  a(href="/tunnels") click here to land on tunnels page

